[submodule "2022-clap"]
	path = 2022-clap
	url = https://github.com/npz7yyk/clap.git
[submodule "2023-creeper"]
	path = 2023-creeper
	url = https://github.com/XhyDds/creep
[submodule "2022-JiuZhangSanHao"]
	path = 2022-JiuZhangSanHao
	url = https://github.com/vhicrgit/NSCSCC2022
[submodule "2023-ambercpu"]
	path = 2023-ambercpu
	url = https://github.com/JYJSXX/AmberCPU
[submodule "2024-ShenWeiChaoHuZhiGuang"]
	path = 2024-ShenWeiChaoHuZhiGuang
	url = https://github.com/xxxxxyang/ustc_nscscc_2024_3
[submodule "2024-CAGI"]
	path = 2024-CAGI
	url = https://github.com/USTCCAGI/LoongArch
