[submodule "2022-clap"]
	path = 2022-clap
	url = https://github.com/npz7yyk/clap.git
[submodule "2023-creeper"]
	path = 2023-creeper
	url = https://github.com/XhyDds/creep
[submodule "2022-JiuZhangSanHao"]
	path = 2022-JiuZhangSanHao
	url = https://github.com/vhicrgit/NSCSCC2022
